$current-color: $black;

.wrapper {
  margin-top: 40px;
  position: relative;
}

.svg {
  fill-opacity: 0.5;
  height: 24px;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
}

.select {
  appearance: none;
  background-color: darken($white, 5);
  border: 1px solid darken($white, 15);
  border-radius: 0;
  color: $current-color;
  font-size: rem(16);
  min-height: 2.5em;
  padding: 10px;
  resize: none;
  vertical-align: top;
  width: 100%;

  &:focus,
  &:active {
    outline: none;

    ~ .border {
      opacity: 1;
    }
  }

  &:invalid {
    color: lighten($current-color, 50);
  }
}

.label {
  color: $current-color;
  display: block;
  font-size: rem(15);
  font-weight: 400;
  left: 10px;
  line-height: 1.5;
  position: absolute;
  top: -1.5em;
}


.border {
  @include mask();
  border: 1px solid darken($white, 50);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.used {
  color: lighten($current-color, 10);
  composes: label;
  transform: scale(0.6) translateY(-3em);
}
